---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if project categories are defined -->
{% if site.project_category %}
  {% for category in site.project_category %}
    {% assign title_shown = false %}
    {% for post in site.projects reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="project-entry">
        <h3><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a></h3>
        {% if post.gif %}
          <img src="{{ base_path }}/images/{{ post.gif }}" alt="{{ post.title }} gif" class="project-gif">
        {% endif %}
        {% if post.excerpt %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.projects reversed %}
    <div class="project-entry">
      <h3><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a></h3>
      {% if post.gif %}
        <img src="{{ base_path }}/images/{{ post.gif }}" alt="{{ post.title }} gif" class="project-gif">
      {% endif %}
      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

<style>
  .project-entry {
    margin-bottom: 2em;
  }
  .project-gif {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
</style>